.home {
  .flexbanner {
    display: flex;
    height: 80vh;
    position: relative;
    min-height: 768px;
    @media only screen and (max-width: 1024px) {
      height: calc(100vw / 16 * 9);
      min-height: calc(100vw / 16 * 9);
    }
    .banner-add {
      @media only screen and (max-width: 1024px) {
        display: none;
      }
      img {
        width: 400px;
        height: 100%;
      }
    }
  }
  &-banner {
    -moz-box-shadow: 0px 14px 17px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 14px 17px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 17px -6px rgba(0, 0, 0, 0.75);
    position: relative;
    height: 80vh;
    min-height: 768px;
    @media only screen and (max-width: 1024px) {
      height: calc(100vw / 16 * 9);
      min-height: calc(100vw / 16 * 9);
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      position: relative;
      z-index: 2;
      max-width: 780px;
    }
    .splide {
      height: 100%;
      .splide__track {
        height: 100%;
        li {
          position: relative;
          &::after {
            content: "";
            background-color: rgba($color: #000000, $alpha: 0.3);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @media only screen and (max-width: 1024px) {
              background-color: rgba($color: #000000, $alpha: 0.5);
            }
          }
        }
      }
      .splide__arrow {
        background: transparent;
        opacity: 1;
        img {
          width: 20px;
          height: 33px;
          object-fit: contain;
          @media only screen and (max-width: 1023px) {
            width: 10px;
          }
        }
      }

      .splide__pagination {
        gap: 10px;
        justify-content: flex-end;
        padding: 0 50px;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
      }
      .splide__pagination__page {
        width: 16px;
        height: 16px;
        border: 2px solid #fff;
        background: transparent;
        opacity: 1;
        @media only screen and (max-width: 1023px) {
          border: 1px solid #fff;
          width: 10px;
          height: 10px;
        }
        &:hover {
          background: #fff;
          transform: none;
        }
      }
      .splide__pagination__page.is-active {
        background: #fff;
        transform: none;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .content {
        bottom: 50px;
        left: 50%;
        max-width: 1200px;
        padding: 50px;
        position: absolute;
        transform: translateX(-50%);
        width: 100%;
        z-index: 5;
        @media only screen and (max-width: 1024px) {
          bottom: 0;
        }
        h1 {
          color: #fff;
          font-size: 48px;
          max-width: 600px;
          text-align: right;
          margin-bottom: 25px;
          margin: 0 0 0 auto;
          @media only screen and (max-width: 1024px) {
            font-size: 20px;
            margin-bottom: 0;
          }
        }
        p {
          text-align: right;
          max-width: 540px;
          color: #fff;
          margin-bottom: 33px;
          font-size: 21px;
          margin: 0 0 30px auto;
          @media only screen and (max-width: 1024px) {
            font-size: 12px;
            margin: 0 0 5px auto;
          }
        }
        a {
          color: #fff;
          font-size: 21px;
          display: flex;
          align-items: center;
          border-radius: 8px;
          margin: 0 0 0 auto;
          justify-content: center;
          border: 1px solid #fff;
          transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
          max-width: 100%;
          width: fit-content;
          padding: 8px 25px;
          @media only screen and (max-width: 1024px) {
            font-size: 12px;
          }
          &:hover {
            background-color: #fff;
            color: #333;
          }
        }
      }
    }
  }
  .zones {
    padding: 85px 0;
    @media only screen and (max-width: 1024px) {
      padding: 30px 0 20px;
    }

    .flex {
      display: flex;
      align-items: center;
      gap: 70px;
      justify-content: space-between;
      @media screen and (max-width: 1024px) {
        flex-direction: column;
        gap: 30px;
      }
    }
    h1 {
      text-align: center;
      margin-bottom: 60px;
      font-size: 40px;
      color: #333;
      @media only screen and (max-width: 1024px) {
        text-align: center;
        margin-bottom: 20px;
        font-size: 20px;
        color: #333;
        font-family: "MuseoSans-900";
      }
    }

    .map {
      width: 100%;
      background-color: #6dc184;
      svg {
        width: 100%;
        height: 390px;
      }
      @media only screen and (max-width: 1024px) {
        width: 100%;
      }

      img {
        width: 415px;
      }
    }
    &-container,
    .splide {
      max-width: 400px;
      width: 100%;
    }
    .zone-card {
      width: 100%;
      height: 280px;
      overflow: hidden;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
      position: relative;
      border-radius: 9px;
      img {
        width: 100%;
        height: 100%;
      }

      .info {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 15px;
        h3 {
          color: #fff;
          font-size: 19px;
          padding: 7px;
          margin-bottom: 16px;
          position: relative;
          text-align: center;
          &::after {
            content: "";
            height: 1px;
            width: 100%;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
        p {
          color: #fff;
          text-align: center;
          font-size: 10px;
          margin-bottom: 23px;
        }
        .localidades {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 18px;
          // height: 0;
          @media only screen and (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
          }
          a {
            color: #fff;
            font-family: "MuseoSans-700";
            font-size: 12px;
            text-align: center;
            display: block;
            @media only screen and (max-width: 1024px) {
              font-size: 16px;
            }
            &:hover {
              text-decoration: underline;
            }
          }
        }
        a.btn {
          color: #fff;
          font-size: 10px;
          padding: 7px 30px;
          border: 1px solid #fff;
          border-radius: 5px;
          letter-spacing: 2px;
          transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
          &:hover {
            background-color: #fff;
            color: #333;
          }
        }
      }
    }

    .splide__arrow--prev {
      left: -50px;
    }
    .splide__arrow--next {
      right: -50px;
    }
    .splide__arrow {
      background: transparent;
      opacity: 1;
      img {
        width: 20px;
        height: 33px;
        object-fit: contain;
      }
    }
  }
  svg:not(:root) {
    overflow: visible;
  }
  .zoneSvg {
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    transform-origin: center;
    z-index: 20;
    path {
      transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    }
    &#zone-115,
    &#zone-117,
    &#zone-114,
    &#zone-118 {
      path {
        fill: #dbdbdb;
      }
    }

    &.active,
    &:hover {
      &#zone-118 {
        path {
          fill: #ffb863;
        }
      }
      &#zone-115 {
        path {
          fill: #5098ff;
        }
      }
      &#zone-117 {
        path {
          fill: #ff7c47;
        }
      }
      &#zone-114 {
        path {
          fill: #0f2c52;
        }
      }
    }
  }
  .planes {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;
    .pb {
      background-color: #0f2c52;
      background-image: url("../images/radius.svg");
      background-blend-mode: overlay;
      background-size: 600% 600%;
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 23px;
      box-shadow: 12px 1px 15px -3px rgba(0, 0, 0, 0.5);
      .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        img {
          width: 370px;
          margin-bottom: 50px;
          display: block;
          @media only screen and (max-width: 1024px) {
            width: 70%;
          }
        }
        h2 {
          color: #6dc184;
          font-size: 30px;
          @media only screen and (max-width: 768px) {
            text-align: center;
          }
        }
        h3 {
          font-size: 20px;
          color: #66a4ff;
          margin-bottom: 20px;
          @media only screen and (max-width: 768px) {
            text-align: center;
          }
        }
        .btn {
          font-size: 14px;
          background-image: linear-gradient(
            to right top,
            #ff7c47,
            #ff8033,
            #cf4c1f,
            #b0411a
          );
          padding: 17px 21px;
          border-radius: 8px;
          color: #fff;
          transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
          background-color: #fff;
          @media only screen and (max-width: 768px) {
            padding: 10px 17px;
          }
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
    .city {
      margin: 0 auto;
      max-width: 1200px;
      width: 100%;
      position: relative;
      padding: 0 20px;
      h4 {
        text-align: center;
        flex: 1;
        color: #333;
        font-size: 16px;
        margin-bottom: 40px;
      }
      .cards {
        display: flex;
        gap: 22px;
        align-items: center;
        justify-content: center;
        min-height: 280px;
      }
      &-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
        img {
          border-radius: 21px;
          height: 221px;
          margin-bottom: 28px;
          box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.5);
          width: 221px;
          @media only screen and (max-width: 768px) {
            height: calc(33vw - 40px);
            width: calc(33vw - 40px);
            margin-bottom: 5px;
          }
        }
        span {
          display: block;
          font-size: 20px;
          color: #333333;
          @media only screen and (max-width: 768px) {
            font-size: 12px;
            text-align: center;
          }
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  .mobile {
    height: 600px;
    position: relative;
    @media only screen and (max-width: 768px) {
      height: 100vw;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: bottom;
    }
    .message {
      display: flex;
      background-color: #fff;
      position: absolute;
      bottom: -100px;
      gap: 27px;
      max-width: 650px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      border-radius: 20px 20px 0 0;
      padding: 40px 100px;
      @media only screen and (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 100%;
      }
      h5 {
        color: #333;
        font-size: 26px;
        @media only screen and (max-width: 768px) {
          font-size: 20px;
        }
      }
      p {
        color: #333;
        font-size: 16px;
        margin-bottom: 15px;
        @media only screen and (max-width: 768px) {
          font-size: 12px;
        }
      }
      a.btn {
        background-color: #ff7c47;
        border-radius: 8px;
        padding: 11px 30px;
        font-size: 15px;
        color: #fff;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        max-width: 150px;
        justify-content: center;
        transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
        &:hover {
          transform: scale(1.1);
        }
      }
      .applogo {
        width: 120px;
        @media only screen and (max-width: 768px) {
          width: 70px;
        }
      }
      .apps {
        display: flex;
        align-items: center;
        gap: 21px;
        @media only screen and (max-width: 768px) {
          align-items: center;

          justify-content: center;
        }
        img {
          width: 35px;
          transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
  .more {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 150px 0 80px;
    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
      justify-items: center;
      padding: 100px 0 80px;
    }
    &-card {
      border-radius: 20px;
      position: relative;
      width: 380px;
      height: 380px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 12px 1px 15px -3px rgba(0, 0, 0, 0.5);
      @media only screen and (max-width: 768px) {
        height: calc(70vw - 40px);
        width: calc(70vw - 40px);
      }
      img {
        transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
        width: 80%;
      }
      &:hover {
        & > img {
          transform: scale(1.1);
        }
      }
      &:nth-of-type(1) {
        background-color: #dbdbdb;
      }
      &:nth-of-type(2) {
        background-image: linear-gradient(
          to top left,
          #1c1c1c,
          #0f0f0f,
          #1a1a1a
        );
      }
      &:nth-of-type(3) {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  section.add.container {
    position: relative;
    overflow: hidden;
    height: 260px;
    @media only screen and (max-width: 768px) {
      height: auto;
      padding: 0;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @media only screen and (max-width: 768px) {
        aspect-ratio: 16 / 9;
        height: auto;
      }
    }
  }
}
button.closeadd {
  position: absolute;
  top: 10px;
  right: 30px;
  background: transparent;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0px 3px 5px #000;
  color: #fff;
}

.recent-blogs {
  box-shadow: 0px 1px 20px 9px rgba(0, 0, 0, 0.5);
  padding: 50px 0 0;
  margin-bottom: 50px;
  & > h2 {
    font-size: 40px;
    text-align: center;
    color: #333333;
    margin-bottom: 30px;
    @media only screen and (max-width: 768px) {
      font-size: 20px;
    }
  }
  .grid-blogs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin-bottom: 50px;
    @media screen and (max-width: 1024px) {
      gap: 15px;
      grid-template-columns: repeat(2, 1fr);
    }
    a {
      max-width: 284px;
      display: block;
      width: 100%;
      border-left: 1px solid #dfdfdf;
      border-bottom: 1px solid #dfdfdf;
      border-radius: 15px 0 0 0;
      overflow: hidden;
      @media screen and (max-width: 1024px) {
        max-width: 100%;
      }
      .img {
        height: 151px;
        overflow: hidden;
        border-radius: 15px 15px 15px 0;
        @media screen and (max-width: 1023px) {
          height: 130px;
          width: 100%;
        }
        img {
          object-fit: cover;
          transition: all 0.6s cubic-bezier(0, 0.55, 0.45, 1);
          width: 100%;
          height: 100%;
        }
      }
      .desc {
        padding: 20px 0 20px 15px;
        @media screen and (max-width: 1023px) {
          width: 100%;
        }
        h3 {
          color: #7f7f7f;
          font-size: 15px;
          font-family: "MuseoSans-900";
          margin-bottom: 8px;
          min-height: 15px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        h2 {
          font-family: "MuseoSans-700";
          color: #7f7f7f;
          font-size: 21px;
          margin-bottom: 10px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          @media screen and (max-width: 1023px) {
            font-size: 14px;
          }
        }
        p {
          font-family: "MuseoSans-100";
          color: #636262;
          font-size: 16px;
          margin-bottom: 15px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          @media screen and (max-width: 1023px) {
            font-size: 12px;
          }
        }
        .btn {
          font-size: 16px;
          color: #fff;
          background-color: #ff7c47;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
          padding: 8px;
          max-width: 188px;
          border-radius: 5px;
          @media only screen and (max-width: 768px) {
            font-size: 12px;
          }
        }
      }
      &:hover {
        opacity: 0.8;
        .img {
          img {
            transform: scale(1.1);
          }
        }
        .desc {
          .btn {
            background-color: darken($color: #ff7c47, $amount: 10);
          }
        }
      }
    }
  }
  a.more {
    font-size: 16px;
    color: #fff;
    background-color: #5098ff;
    display: flex;
    align-items: center;
    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    justify-content: center;
    padding: 8px;
    &:hover {
      background-color: darken($color: #5098ff, $amount: 10);
    }
  }
}
