.interna_atractivo {
  .container.intro {
    padding-top: 200px;
    @media only screen and (max-width: 768px) {
      padding-top: 0;
    }
    h1 {
      color: #333;
      font-family: "MuseoSans-900";
      font-size: 50px;
      margin: 20px 0;
      max-width: 560px;
      @media only screen and (max-width: 768px) {
        font-size: 22px;
      }
    }
    a {
      display: inline-block;
      width: 36px;
      align-self: flex-start;
      img {
        height: 36px;
        object-fit: contain;
        width: 100%;
      }
      &:hover {
        opacity: 0.5;
      }
    }
    .details {
      display: grid;
      grid-template-columns: auto auto 450px auto;
      gap: 20px;
      border-bottom: 1px solid #d5d5d5;
      padding-bottom: 60px;
      @media screen and (max-width: 1023px) {
        grid-template-columns: repeat(1, 1fr);
      }
      li {
        align-items: center;
        display: flex;
        width: 100%;
        span,
        .fxcol,
        a {
          color: #606060;
          font-family: "MuseoSans-900";
          font-size: 1.4rem;
          flex: 1;
          display: flex;
          height: 100%;
          flex-direction: column;
          justify-content: center;
        }
        img {
          height: 30px;
          margin-right: 5px;
          object-fit: contain;
          width: 30px;
        }
      }
    }
  }
  .descripton {
    overflow: hidden;
    max-width: 1200px;
    margin: 50px auto;
    position: relative;
    z-index: 3;
    display: grid;
    grid-template-columns: 1fr auto;
    @media screen and (max-width: 1023px) {
      grid-template-columns: 1fr;
      padding: 0;
      border-radius: 0;
    }
    .txt {
      border-right: 1px solid #d5d5d5;
      color: #606060;
      font-family: "MuseoSans-700";
      font-size: 1.8rem;
      height: 380px;
      line-height: 2.8rem;
      overflow: hidden;
      padding-right: 80px;
      position: relative;
      margin-right: 100px;
      @media only screen and (max-width: 768px) {
        margin: 0;
        font-size: 1.4rem;
        padding: 0 20px;
        border: 0;
        line-height: 2rem;
      }
      .readMore {
        background-color: rgba(255, 255, 255, 0.8);
        width: 100%;
        padding: 20px 0;
        text-align: center;
        display: block;
        font-size: 1.4rem;
        font-family: "MuseoSans-900";
        color: #46a6de;
        left: 0;
        position: absolute;
        bottom: 0;
      }

      p:first-of-type {
        &::first-letter {
          font-family: "MuseoSans-700";
        }
      }
      p {
        -webkit-column-break-inside: avoid;
        border-bottom: solid 15px transparent;
      }
    }
    .map {
      align-items: center;
      border-radius: 50%;
      display: flex;
      height: 340px;
      justify-content: center;
      margin: 50px auto;
      overflow: hidden;

      position: relative;
      width: 340px;
      @media screen and (max-width: 1023px) {
        width: calc(100vw - 60px);
        height: calc(100vw - 60px);
      }
      & > img {
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
      }
      &::after {
        background-color: rgba($color: #2060af, $alpha: 0.5);
        border-radius: 50%;
        content: "";
        height: 84px;
        left: 50%;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        width: 84px;
      }
      .map_lupa {
        align-items: center;
        background-color: #ffffff;
        border-radius: 50%;
        border: 2px solid #46a6de;
        display: flex;
        flex-direction: column;
        height: 84px;
        justify-content: center;
        padding: 5px;
        position: relative;
        transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        width: 84px;
        z-index: 2;
        small {
          color: #2060af;
          display: block;
          font-size: 1rem;
          text-align: center;
          transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        }
        img {
          height: 20px;
          object-fit: contain;
          width: 20px;
        }
      }
      &:hover {
        &::after {
          height: 426px;
          opacity: 1;
          width: 426px;
          @media screen and (max-width: 1023px) {
            height: 100%;
            opacity: 1;
            width: 100%;
            border-radius: 0;
          }
        }
      }
    }
  }
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 140px;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 15px;
    @media only screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
    li {
      width: 100%;
      height: 100%;
      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
      &:nth-of-type(1n) {
        grid-row: span 1;
        grid-column: 1;
        @media only screen and (max-width: 768px) {
          grid-column: span 1;
          grid-row: span 1;
        }
      }
      &:nth-of-type(2n) {
        grid-row: span 1;
        grid-column: 1;
        @media only screen and (max-width: 768px) {
          grid-column: span 1;
          grid-row: span 1;
        }
      }
      &:nth-of-type(3n) {
        grid-row: span 1;
        grid-column: 1;
        @media only screen and (max-width: 768px) {
          grid-column: span 1;
          grid-row: span 1;
        }
      }
      &:nth-of-type(4n) {
        grid-row: 1 / span 1;
        grid-column: 2;
        @media only screen and (max-width: 768px) {
          grid-column: span 1;
          grid-row: span 1;
        }
      }
      &:nth-of-type(5n) {
        grid-row: 2 / span 2;
        grid-column: 2;
        @media only screen and (max-width: 768px) {
          grid-column: span 1;
          grid-row: span 1;
        }
      }
      &:nth-of-type(6n),
      &:last-of-type {
        grid-row: 1 / span 3;
        grid-column: 3;
        @media only screen and (max-width: 768px) {
          grid-column: span 1;
          grid-row: span 1;
        }
      }
    }
  }
  .recomendacion {
    background-color: #ff7c47;
    display: flex;
    align-items: center;
    margin: 50px 0;
    justify-content: center;
    padding: 20px;
    @media screen and (max-width: 1023px) {
      display: none;
    }
    small {
      max-width: 900px;
      font-size: 1.1rem;
      font-family: "MuseoSans-500";
      color: #fff;
      text-align: center;
    }
  }
  .container_interest {
    background-image: linear-gradient(
      to right top,
      #b8cdd1,
      #c3d4d8,
      #cedcde,
      #dae3e5,
      #e5ebec
    );
    border-radius: 0 0 153px 153px;
    margin-top: -140px;
    padding: 140px 0 125px;
    position: relative;
    z-index: 1;
    @media screen and (max-width: 1023px) {
      border-radius: 0;
      z-index: 0;
    }
    .interest_you {
      padding: 95px 30px 0;
    }
  }
  .inmaterial {
    .banner {
      align-items: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      border-radius: 0 0 143px 143px;
      display: flex;
      flex-direction: column;
      height: 100vh;
      justify-content: flex-end;
      overflow: hidden;
      padding-bottom: 80px;
      position: relative;
      @media screen and (max-width: 1023px) {
        background-position: top;
        background-attachment: scroll;
        height: 85vh;
        border-radius: 0 0 35px 35px;
        z-index: 2;
      }
      img.bg {
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
      }
      h2,
      h3 {
        color: #fff;
        font-family: "MuseoSans-900";
        text-shadow: 7px 7px 5px rgba($color: #000000, $alpha: 0.75);
      }
      h2 {
        font-size: 8rem;
        max-width: 1200px;
        text-align: center;
        @media screen and (max-width: 1023px) {
          font-size: 3.5rem;
          margin-bottom: 15px;
        }
      }
      h3 {
        font-size: 2.2rem;
        @media screen and (max-width: 1023px) {
          font-size: 1.9rem;
          margin-bottom: 35px;
        }
      }
      .intro-txt {
        padding: 0 30px;
        width: 50%;
        display: block;
        display: none;
        @media screen and (max-width: 1023px) {
          display: block;
        }
        p {
          color: #fff;
          font-size: 1.4rem;
          line-height: 2.1rem;
          text-align: center;
        }
      }
    }
    .desc {
      position: relative;
      z-index: 3;
    }
    .gallery {
      position: relative;
      z-index: 2;
      @media screen and (max-width: 1023px) {
        border-radius: 0;
      }
    }
    .container_interest {
      position: relative;
      z-index: 1;
    }
  }
}
