header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
  .top {
    background-color: #6dc184;
    .container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 30px;
    }
    .links {
      display: flex;
      align-items: center;
      gap: 55px;
      a {
        font-size: 12px;
        color: #fff;
        text-decoration: underline;
        &:hover {
          color: #333;
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
    }
    .languages {
      font-size: 14px;
      @media screen and (max-width: 1023px) {
        display: none;
      }
      & > li {
        display: flex;
        align-items: center;
        &::after {
          background-image: url(../../img/arrow_languages.svg);
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          content: "";
          display: block;
          height: 8px;
          position: absolute;
          right: -5px;
          top: 50%;
          transform: translateY(-50%);
          width: 9px;
        }
      }
      li {
        color: #fff;
        padding: 10px;
        position: relative;
        text-decoration: none;

        &:hover {
          cursor: pointer;
        }
        img {
          margin-right: 5px;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          object-fit: cover;
        }
        a {
          color: #fff;
          display: flex;
          align-items: center;
        }
        ul {
          display: none;
          left: 0;
          margin-top: 1rem;
          min-width: 7.5rem;
          opacity: 0;
          position: absolute;
          background-color: #6dc184;
          visibility: hidden;
          z-index: 10;
          li {
            clear: both;
            width: 100%;
            display: flex;
            align-items: center;
            &:hover {
              background-color: darken($color: #6dc184, $amount: 15);
            }
          }
        }
      }
      &.active li > ul {
        display: block;
        opacity: 1;
        visibility: visible;
        position: absolute;
        top: 100%;
        margin: 0;
      }
      &.active > li::after {
        transform: rotate(-180deg) translateY(-50%);
        top: 30%;
      }
    }
    form {
      align-items: center;
      display: flex;
      justify-content: center;
      position: relative;
      margin: 0 15px;
      @media screen and (max-width: 1023px) {
        margin: 0;
      }
      img {
        display: inline-block;
        height: 20px;
        margin: 0;
        transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        pointer-events: none;
        object-fit: contain;
        width: 20px;
        @media screen and (max-width: 1023px) {
          pointer-events: all;
          margin: 0;
          width: 20px;
          height: 20px;
          left: 0;
        }
      }
      span {
        position: relative;
        display: flex;
        align-items: center;
      }
      .op {
        transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
      }
      input[type="search"] {
        border-bottom: 1px solid #fff;
        color: #fff;
        font-size: 13px;
        padding: 8px 0;
        text-transform: uppercase;
        transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        width: 180px;
        @media screen and (max-width: 1023px) {
          display: none;
        }

        &:focus {
          width: 250px;
          & + .op {
            opacity: 0;
          }
        }
      }
      label {
        color: #fff;
        font-size: 13px;
        text-transform: uppercase;
        transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        margin-right: 5px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }
  }
  .bottom {
    background-color: rgba($color: #fff, $alpha: 0.79);
    padding: 10px 0;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        width: 100px;
      }
      nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 28px;
        a {
          color: #333;
          transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
          font-size: 16px;
          &:hover {
            text-decoration: underline;
            opacity: 0.8;
          }
        }
      }
    }
  }
  &.scroll {
    .bottom {
      background-color: #fff;
    }
  }
}
